body {
    margin: 0;
    background-color: aqua
}

header {
    position: relative;
    padding-left: 100px;
}

nav {
    position:  absolute;
    top: 0;
    right: 100px;
}

ul{
    display: flex;
    color: floralwhite;
    list-style-type: none;
    text-align: center;
}

li{
    color: red;
    padding-right: 50px;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
    float: right;
}

.fntroductions {
    
}

.fntroduction {
    display:  flex;
}

.west2 {
    padding-left: 50px;
    text-align: left;
    text-align: left;
}

img {
width: 300px;
}